## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [2]:
print(x.replace("DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe", "𝐷𝑖𝑐ℎ𝑙𝑜𝑟𝑜𝑑𝑖𝑝ℎ𝑒𝑛𝑦𝑙𝑡𝑟𝑖𝑐ℎ𝑙𝑜𝑟𝑜𝑒𝑡ℎ𝑎𝑛𝑒" ))

𝐷𝑖𝑐ℎ𝑙𝑜𝑟𝑜𝑑𝑖𝑝ℎ𝑒𝑛𝑦𝑙𝑡𝑟𝑖𝑐ℎ𝑙𝑜𝑟𝑜𝑒𝑡ℎ𝑎𝑛𝑒

# 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [3]:
Dict = {'A':'word', 'B':'15', 'C':'3.14', 'D':'list'}
print(Dict)

{'A': 'word', 'B': '15', 'C': '3.14', 'D': 'list'}

# 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [13]:
print("Please enter your weight in kg and height in m separated by a space")
w,h = input().split(" ")
w = float(w)
h = float(h)

BMI= w / (h**2)

print("You BMI is:", BMI)

Please enter your weight in kg and height in m separated by a space
65 1.70
You BMI is: 22.49134948096886

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [14]:
if BMI <= 18.4:
    print("You are underweight.")
elif BMI <= 24.9:
    print("You have normal weight.")
elif BMI <= 29.9:
    print("You have pre-obesity")
elif BMI <= 34.9:
    print("You have obesity class I.")
elif BMI <= 39.9:
    print("You have obesity class II.")
else:
    print("You have obesity class III.")

You have normal weight.

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [17]:
num = int(input("Please, enter a number:"))

factorial = 1

for i in range (1, num + 1):
    factorial = factorial * i

print ("The facotrial number of ", num, "is", factorial)

Please, enter a number:5
The facotrial number of  5 is 120

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [7]:
#define the list
number = []

while number!= -1:
    user_input = int(input("Enter an integer: "))
    #add numbers to the list
    number.append(user_input)
    if user_input == -1:
        break
        
total = sum(number)

print("The sum of the integers is",total)

Enter an integer: 5
Enter an integer: 2
Enter an integer: -1
The sum of the integers is 6

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [2]:
A = float(input("Enter first value : "))
B = float(input("Enter second value: "))
C = float(input("Enter third value: "))

Enter first value : 4
Enter second value: 8
Enter third value: 7.5

    a) the area of the triangle rectangle with A as the base and C as the height.

In [3]:
area = (A*C)/ 2
print ("The area of the triangle rectangle is: ",area)

The area of the triangle rectangle is:  15.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [4]:
pi = 3.14159
area_circle = (pi*(C**2))
print ("The area of the circle is", area_circle)

The area of the circle is 176.7144375

    c) the area of the trapezoid that has A and B for bases and C for height.

In [7]:
t = 10
area_tra = ((A+B)/2)*t
print ("The area of the trapezoid is: ", area_tra)

The area of the trapezoid is:  60.0

    d) the area of the square that has side B.

In [8]:
area_square = B**2
print ("The area of the square is,", area_square)

The area of the square is, 64.0

    e) the area of the rectangle that has sides A and B.

In [9]:
area_rectangle = A*B
print ("The area of the rectangle is:", area_rectangle)

The area of the rectangle is: 32.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [11]:
#Solve the quadratic equation  ax**2 + bx + c = 0
#we need to import math module
import cmath

a = float(input("Enter value a: "))
b = float(input("Enter value b:  "))
c = float(input("Enter value c: "))
#Calculate the root
r = (b**2) - (4*a*c)

#find the possible solutions
sol1 = (-b-cmath.sqrt(r))/(2*a)
sol2 = (-b+cmath.sqrt(r))/(2*a)

print("the solutions are: ", sol1, "and", sol2)

Enter value a: 4
Enter value b:  5
Enter value c: 1
the solutions are:  (-1+0j) and (-0.25+0j)

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [13]:
print("Please enter the coordinates separated by a space")
x1, y1 = input().split(" ")
x1 = float(x1)
y1 = float(y1)
print("Please enter the coordinates separated by a space")
x2, y2 = input().split(" ")
x2 = float(x2)
y2 = float(y2)
result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)
print("distance between the two points is : ",result)

Please enter two coordinates separated by a space
5.3 6
Please enter two coordinates separated by a space
7.4 1.4
distance between the two points is :  5.056678751908213

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [19]:
print("Please enter two coordinates separated by a space")
px, py = input().split(" ")
px = float(px)
py = float(py)


def quadrant(px, py):
    if (px > 0 and py > 0):
        print ("lies in q1")
 
    elif (px < 0 and py > 0):
        print ("lies in q2")
         
    elif (px < 0 and py < 0):
        print ("lies in q3")
     
    elif (px > 0 and py < 0):
        print ("lies in q4")
         
    elif (px == 0 and py > 0):
        print ("lies at y axis")
     
    elif (px == 0 and py < 0):
        print ("lies at y axis")
     
    elif (py == 0 and px < 0):
        print ("lies at x axis")
     
    elif (py == 0 and px > 0):
        print("lies at x axis")
     
    else:
        print ("origin")

quadrant(px, py)

Please enter two coordinates separated by a space
7 -7
lies in q4

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [20]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [7]:
phone_codes = {'43': 'Austria', '32': 'Belgium', '359': 'Bulgaria', '385': 'Croatia', '357': 'Cyprus', '420': 'Czech Republic', '45': 'Denmark', '372': 'Estonia', '358': 'Finland', '33': 'France', '49': 'Germany'}
my_code = str(input ("Please, enter your code: "))
print (phone_codes[my_code])

Please, enter your code: 43
Austria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [ ]:
import math
user_input = input("Enter Numbers\n").split(" ")
#strip is used to remove the white space. Not mandatory
all_numbers = [float(x.strip()) for x in user_input]
for i in all_numbers:
    #check condition
    if i >= 0:
        pos_count += 1
    else:
        break
print("Positive numbers in the list: ", pos_count)

total = math.fsum(all_numbers)
avg = total / len(all_numbers)
print("The average is " + str(round(avg, 1)))

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [19]:
N = int(input("Please, enter a number:"))
values = list(range(1, N+1))
for i in values:
    if int(i)%2==0:
        print (i*i)

Please, enter a number:5
4
16

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [34]:
n1 = int(input("Please, enter a number: "))

print (n1, "is even", end = '') if (n1%2)!= 0 else print (n1, "is odd", end = '')
if (n1>0):
    print (" and positive")
elif (n1<0):
    print ( " and negative" )
else:
    print (" null")

Please, enter a number: -7
-7 is even and negative

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [4]:
import random

def bubbleSort (w_list):
    for passnum in range (len(w_list)-1,0,-1):
        for i in range(passnum):
            if w_list[i]>w_list[i+1]:
                temporal = w_list[i]
                w_list[i]= w_list [i+1]
                w_list[i+1]= temporal

w_list = list(map(int, input("Input six integers:").split()))

random.shuffle (w_list)

bubbleSort(w_list)
print(*w_list)

Input six integers:7 45 66 87 124 1
1 7 45 66 87 124